<h1>About Us</h1>

<p>We are obsessed with poodles! The premium of dog breeds! Since 2020, we have collected the largest single collection of poodle photos that has ever existed on this planet.</p>

<p>When you need your poodle fix we're here to try and provide your fix with cute images and cool videos like these:</p>

<p><img src="assets/standard/poodle1.jpg" alt=""></p>

<h6>Source: <a href="https://en.wikipedia.org/wiki/Poodle">https://en.wikipedia.org/wiki/Poodle</a></h6>

<iframe width="450" height="250" src="https://www.youtube.com/embed/D-cXOEs6I6M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

