div {
  background-color: #e0e0e0;
  width: 80%;
  padding: 20px 0;
  margin: 25px auto;
  border-radius: 25px;
}
div img {
  display: block;
  width: 70%;
  margin: 0 auto;
}
div h2 {
  padding-left: 50px;
}
div h6 {
  text-align: center;
}
