<h1>Breeds of Poodles</h1>
<div>
  <h2>Standard</h2>
  <p><img src="assets/standard/poodle2.jpg" alt=""></p>
  <h6>Source: <a href="https://dogs.lovetoknow.com/standard-poodle-adoption">https://dogs.lovetoknow.com/standard-poodle-adoption</a></h6>
</div>
<div>
  <h2>Miniature</h2>
  <p><img src="assets/miniature/poodle1.jpg" alt=""></p>
  <h6>Source: <a href="https://www.loveyourdog.com/poodles/">https://www.loveyourdog.com/poodles/</a></h6>
</div>
<div>
  <h2>Cockapoo</h2>
  <p><img src="assets/cockapoo/poodle1.jpg" alt=""></p>
  <h6>Source: <a href="http://www.darbyparkdoodles.com/cockapoo.php">http://www.darbyparkdoodles.com/cockapoo.php</a></h6>
</div>
<div>
  <h2>Labradoodle</h2>
  <p><img src="assets/labradoodle/poodle1.jpg" alt=""></p>
  <h6>Source: <a href="https://boingboing.net/2019/09/26/labradoodle-inventor-apologize.html">https://boingboing.net/2019/09/26/labradoodle-inventor-apologize.html</a></h6>
</div>
