<h1>Contact us!</h1>

<p>Do you want to be the next person whose poodle image is featured on our prestigious site? Put in your information below and, as long as it's appropriate and poodle-oriented, you will see it up on the site soon!!</p>

<form action="">
  <ol>
    <li>
      <label for="name">Full Name:</label>
      <input type="text" id="name">
    </li>
    <li>
      <label for="email">Email:</label>
      <input type="email" id="email">
    </li>
    <li>
      <label for="image">Poodle Image:</label>
      <input type="file" id="image" accept="image/*">
    </li>
    <li>
      <label for="textarea">Give it a Caption:</label>
      <textarea name="caption" id="textarea" cols="30" rows="10"></textarea>
    </li>
    <li>
      <input type="submit">
    </li>
  </ol>
</form>
