<h1>The Daily Poodle Stream</h1>
<div>
  <p><img src="assets/standard/poodle3.jpg" alt=""></p>
  <h6>Source: <a href="https://www.pinterest.com/pin/573505333774070031/">https://www.pinterest.com/pin/573505333774070031/</a></h6>
</div>
<div>
  <p><img src="assets/miniature/poodle2.jpg" alt=""></p>
  <h6>Source: <a href="https://www.greenfieldpuppies.com/greenfield-puppies-blog/things-to-know-about-miniature-poodle-puppies/">https://www.greenfieldpuppies.com/greenfield-puppies-blog/things-to-know-about-miniature-poodle-puppies/</a></h6>
</div>
<div>
  <p><img src="assets/miniature/poodle3.jpg" alt=""></p>
  <h6>Source: <a href="http://www.allpoodleinfo.com/miniature-poodle">http://www.allpoodleinfo.com/miniature-poodle</a></h6>
</div>
<div>
  <p><img src="assets/cockapoo/poodle2.jpg" alt=""></p>
  <h6>Source: <a href="https://en.wikipedia.org/wiki/Cockapoo">https://en.wikipedia.org/wiki/Cockapoo</a></h6>
</div>
<div>
  <p><img src="assets/cockapoo/poodle3.jpg" alt=""></p>
  <h6>Source: <a href="https://www.keystonepuppies.com/puppy/cockapoo-puppies-for-sale/baby-15">https://www.keystonepuppies.com/puppy/cockapoo-puppies-for-sale/baby-15</a></h6>
</div>
<div>
  <p><img src="assets/labradoodle/poodle2.jpg" alt=""></p>
  <h6>Source: <a href="https://uptownpuppies.com/3-easy-steps-to-train-your-labradoodle-to-be-home-alone/">https://uptownpuppies.com/3-easy-steps-to-train-your-labradoodle-to-be-home-alone/</a></h6>
</div>
<div>
  <p><img src="assets/labradoodle/poodle3.jpg" alt=""></p>
  <h6>Source: <a href="https://alaa-labradoodles.com/labradoodle-q&a.html">https://alaa-labradoodles.com/labradoodle-q&a.html</a></h6>
</div>
