<nav>
  <ul>
    <li><span class="brand"><a routerLink="/"><img src="assets/Poodle-48.png" alt="">DoodlePost</a></span></li>
    <li><a routerLink="/stream">stream</a></li>
    <li><a routerLink="/breeds">breeds</a></li>
    <li><a routerLink="/about">about</a></li>
    <li><a routerLink="/contact">contact</a></li>
  </ul>
</nav>
<div class="side-by-side-grid">
  <main>
    <router-outlet></router-outlet>
  </main>
  <aside>
    <h2>Pic of the Day:</h2>
    <img src="assets/noodle/poodle8.jpg" alt="">
  </aside>
</div>
<footer>
  <p>Copyright &copy; Matthew Fallon 2020</p>
</footer>
