<h1>Welcome to DoodlePost!!</h1>

<p>We Are the foremost site for the connoisseur of the coolest pictures of poodles and other breeds of doodles on the web. No more need to scour Facebook or Instagram for the hottest pics of doodles, we will always have a concentrated dose of poodles for you to enjoy.</p>

<h2>Today's theme is noodle doodles:</h2>

<div class="art-grid">
  <img src="assets/noodle/poodle1.jpg" alt="">
  <img src="assets/noodle/poodle7.jpg" alt="">
  <img src="assets/noodle/poodle2.jpg" alt="">
  <img src="assets/noodle/poodle3.jpg" alt="">
  <img src="assets/noodle/poodle4.jpg" alt="">
  <img src="assets/noodle/poodle5.jpg" alt="">
  <img src="assets/noodle/poodle6.jpg" alt="">
</div>
